body {
  margin: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

a{color: white;
text-decoration: none;}

p{
  font-size: 20px;
}
button{
  margin: 10px;
  padding: 20px;
  background-color: rgb(18, 153, 74);
  border-radius: 2rem;
}
button:hover{
  background-color: rgb(167, 33, 144);
  color: black;
}
